@media screen and (max-width: 260px) {
    .blogNAME {
    	font-size: 8px !important;
    }
}
@media screen and (max-width: 320px) {
    .blogNAME {
    	font-size: 12px !important;
    }
}
@media screen and (max-width: 480px) {
    .blogNAME {
    	font-size: 16px !important;
    }
}